#!/usr/bin/env bash

# Shortcuts
alias dl="cd ~/Downloads"
alias work="cd ~/wDelivery"
alias perso="cd ~/pDelivery"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# JS
alias p="pnpm"
alias y="yarn"
alias ni="npm install"
alias n="npm run"
alias clean-modules="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"
alias update-modules="npx npm-check-updates -u"

alias refresh="source ~/.zshrc"
